if TARGET_MYD_C437X

config SYS_BOARD
	default "myd_c437x"

config SYS_VENDOR
	default "myirtech"

config SYS_SOC
	default "am33xx"

config SYS_CONFIG_NAME
	default "myd_c437x"
config MYIR_BORAD_NAME
	string "myir board name"
	depends on TARGET_MYD_C437X
source "board/myirtech/common/Kconfig"

endif
