config MYIR_I2C_BOARD_DETECT
	bool "Support for Board detection for MYIR platforms"
	help
	   Support for detection board information on MYIRTECH's
	   Evaluation Boards which have I2C based EEPROM detection

config MYIR_OLD_UBOOT
	bool "Be Compatible with old u-boot 2011.09"
	help 
	   Support for booting legacy uImage of kernel 3.2.0

config MYIR_NAND_8G08
	bool "Support for 8G08 Nand Flash"
	depends on !MYIR_OLD_UBOOT
	help 
	   Support for 8G08 Nand Flash with the pagesize 4096
